
/*kolorki:
#010038 -  granatowy
#293a80 - niebieski
#537ec5 -  jasno niebieski
#f39422 - zółto-pomarańczowy
*/

body {
    font-family: Tahoma, serif;
    font-size:calc(12px + 0.3vw);
    line-height: 1em;
    background: linear-gradient(to bottom left, #f39422, #9d4f00) no-repeat center center fixed;
    background-size: cover;
}

.main-content{
 margin:1%;
}
.container{
    max-width: 1900px;
}

[class*="col-"] {
    background-clip: padding-box;
    border: 5px solid transparent;
}

.sticky-top{
    top: 20px;
}

.navbar{
    font-family: Tahoma, serif;
    font-weight: 500;
    top:15px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1.5vh;
    margin: 0 0 1% 0;
}
.navbar-brand {
    padding: 0;
    /*overflow: hidden;*/
}

.nav-item {
    font-size: 1.5em;
    text-shadow: 1px 1px 5px black;
}

.page-footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin: 1% 0 1% 0;
}
@media screen and (max-width: 767px) {
    .sticky-top {
        position: relative !important;
    }
}